<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Fluxa - Tela de Início</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="criarConta.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        <img src="Logo.jpeg">
        <h1>Criar conta</h1>
        <p>Acesse seu portal de planejamento PUC-Rio</p>
        <h4>Nome completo</h4>
        <input type="text" placeholder="Ex: Ana Souza">
        <h4>E-mail institucional</h4>
        <input type="text" placeholder="usuario@aluno.puc-rio.br">
        <h4>Senha</h4>
        <input type="text" placeholder="Pelo menos 6 caracteres">
        <h4>Confirmar senha</h4>
        <input type="text">
        <button>Criar conta</button>
        <p style="margin-top: 20px;">Já tem uma conta? <a href="login.html">Faça login</a></p>
    </div>
</body>
</html>