html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 99vh; 
    background-color: #F0F4FA;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

div {
    width: 350px;
    height: 570px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    border: 1px solid #475569;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 35px;
    padding-right: 35px;
    color: #0F2C4C;
    background-color: #FFFFFF;
    justify-content: start;
    align-items: start;
}

img {
    width: 100px;
    margin-left: auto;
}

h4 {
    margin-bottom: 0px;
    margin-top: 0px;
}

input {
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 5px;
    display: flex;
    border-radius: 5px;
    padding: 15px;
    width: 310px;
    border: 1px solid #475569;
    font-weight: 300;
    font-size: 13px;
    color: #475569;
}

button {
    margin-top: 20px;
    margin-left: 5px;
    text-align: center;
    border-radius: 5px;
    padding: 15px;
    width: 342px;
    background-color: #FFFFFF;
    color: #0F2C4C;
    border: 1px solid #475569;
    font-weight: bold;
    cursor: pointer;
    color: #475569;
}